@page "/"
@inherits SignInBase
<h1>Login </h1>


<form @onsubmit="@(()=>OnSubmitClick())" class="col-lg-6">
    <div class="form-group">
        <label >User Name </label>
        <input type="text" @bind="@request.UserName" class="form-control" />
    </div>
    
    

   <div class="form-group">
        <label for="password">Password </label>
        <input type="password" @bind="@request.Password" class="form-control" />
    </div>
    
    
    
    <button type="submit" class="btn btn-primary">Login</button>
    <button type="button" class="btn btn-primary" @onclick="@(()=>navManager.NavigateTo("/SignUp"))">Sign Up</button>
</form>