@page "/Task/Create"
@inherits TasksBase

<form @onsubmit="@(()=>OnSubmitClick())" class="list-group-item mt-1 row">
    <li class="row">
        <label class="col-2" for="Todo">Task </label>
        <input type="text" @bind="@item.Name" class="form-control col-6" />
        <button type="submit" class="btn btn-primary col-3 ml-1">Create</button>
    </li>

        

</form>