@page "/Task"
@inherits TasksBase

<h1>Login </h1>

<form>
    <div class="form-group">
        <label for="task">Task  </label>
        <input type="text" class="form-control" />
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="IsDone">Is done</label>

    </div>

</form>